<% if airfryer.af_price.to_f <= 49999 %>
  <p><em>가격대</em>~ 5만원</p>
<% elsif airfryer.af_price.to_f >= 50000 && airfryer.af_price.to_f <= 99999 %>
  <p><em>가격대</em>5 ~ 9</p>
<% elsif airfryer.af_price.to_f >= 100000 && airfryer.af_price.to_f <= 149999 %>
  <p><em>가격대</em>10 ~ 15</p>
<% elsif airfryer.af_price.to_f >= 150000 && airfryer.af_price.to_f <= 199999 %>
  <p><em>가격대</em>15 ~ 19</p>
<% elsif airfryer.af_price.to_f >= 200000 && airfryer.af_price.to_f <= 249999 %>
  <p><em>가격대</em>20 ~ 24</p>
<% elsif airfryer.af_price.to_f >= 250000 && airfryer.af_price.to_f <= 299999 %>
  <p><em>가격대</em>25 ~ 29</p>
<% elsif airfryer.af_price.to_f >= 300000 && airfryer.af_price.to_f <= 349999 %>
  <p><em>가격대</em>30 ~ 34</p>
<% elsif airfryer.af_price.to_f >= 350000 && airfryer.af_price.to_f <= 399999 %>
  <p><em>가격대</em>35 ~ 39</p>
<% elsif airfryer.af_price.to_f >= 400000 && airfryer.af_price.to_f <= 449999 %>
  <p><em>가격대</em>40 ~ 44</p>
<% elsif airfryer.af_price.to_f >= 450000 && airfryer.af_price.to_f <= 499999 %>
  <p><em>가격대</em>45 ~ 49</p>
<% elsif airfryer.af_price.to_f >= 500000 && airfryer.af_price.to_f <= 999999 %>
  <p><em>가격대</em>50만원 ~ </p>
<% end %>