<div class="where-hashtag">
  <% if params[:name].present? %>
    <h2>#<%= params[:name] %> 에어프라이어</h2>
  <% end %>
</div>      

<div class="compare_box">
  <%= render 'airfryers/compare' %>
</div>
  


