
<div class="menu-wrapper">
  <div class="menu-item">
    <button><a href="/daily_savings">All</a></button>
    <button><a href="/daily_savings/ds_hashtags/test1">test1</a></button>
    <button><a href="/daily_savings/ds_hashtags/test2">test2</a></button>
    <button><a href="/daily_savings/ds_hashtags/beauty">Beauty</a></button>
    <button><a href="/daily_savings/ds_hashtags/cellphone_accessories">Cell Phone&Accessories</a></button>
    <button><a href="/daily_savings/ds_hashtags/home_kitchen">Home&Kitchen</a></button>
    <button><a href="/daily_savings/ds_hashtags/groceries">Groceries</a></button>
    <button><a href="/daily_savings/ds_hashtags/sports_outdoor">Sports&Outdoor</a></button>
    <button><a href="/daily_savings/ds_hashtags/pet_supplies">Pet Supplies</a></button>
    <button><a href="/daily_savings/ds_hashtags/health_household">Health&Household</a></button>
    <button><a href="/daily_savings/ds_hashtags/automotive">Automotive</a></button>
    <button><a href="/daily_savings/ds_hashtags/baby_products">Baby</a></button>
    <button><a href="/daily_savings/ds_hashtags/tools_home_improvement">Home Improvemnts</a></button>
    <button><a href="/daily_savings/ds_hashtags/patio_lawn_garden">Patio&Lawn&Garden</a></button>
    <button><a href="/daily_savings/ds_hashtags/toys_games">Toys&Games</a></button>
    <button><a href="/daily_savings/ds_hashtags/video_games">Video Games</a></button>
    <button><a href="/daily_savings/ds_hashtags/office_products">Office Products</a></button>
    <button><a href="/daily_savings/ds_hashtags/musical_instruments">Msical Instruments</a></button>
  </div> 
  <!-- <span class="pointer left-pointer dis">
    <i class="fa fa-chevron-left"></i>
  </span>
  <span class="pointer right-pointer">
    <i class="fa fa-chevron-right"></i>
  </span> -->
</div>

<div class="savings_sub_menu">
  <a href="/daily_savings/1/happy_savings">만원의 행복</a>
  <a href="/daily_savings/1/half_savings">반값 할인</a>
  <a href="/daily_savings/1/top_savings">실시간 인기 세일</a>
</div>