<%= render @daily_saving %>

<div>
  <%= link_to "Edit this daily saving", edit_daily_saving_path(@daily_saving) %> |
  <%= link_to "Back to daily savings", daily_savings_path %>

  <%= button_to "Destroy this daily saving", @daily_saving, method: :delete %>
</div>
