<header class="header responsive-wrapper">
  <div class="header-left">
    <h1><a href="/">WACKY-THINK</a></h1>
  </div>
  
  <div class="header-right">
    <nav class="header-nav">
      <a href="#" class="header-link header-link--button">Get 1 year for $50 USD</a>
    </nav>
  </div>
</header>