<header>
  <div class='container'>
    <div class='mobile_nav'>
      <button class='burger' title='Open and close menu'>
        <!-- <span class='mobile_nav__label'>Open and close menu</span> -->
        <div class='top stripe'></div>
        <div class='middle stripe'></div>
        <div class='bottom stripe'></div>
      </button>
    </div>
    <div class='mobile_menu'>
      <nav>
        <ul>
          <li class='visited'><a href='/daily_savings'>Daily Savings</a></li>
          <li><a href='/airfryers'>상품 비교</a></li>
          <!-- <li><a href='/forum'>Forum</a></li>
          <li><a href='/blog'>Blog</a></li>
          <li><a href='/contact'>Kontakt</a></li> -->
        </ul>
      </nav>
    </div>
    <div class='logo'>
      <h1><a href="/">WACKY-THINK</a></h1>
    </div>
    <nav class='head_nav'>
      <ul>
        <li class='visited'><a href='/daily_savings'>Daily Savings</a></li>
        <li><a href='/airfryers'>상품 비교</a></li>
        <!-- <li><a href='/forum'>Forum</a></li>
        <li><a href='/blog'>Blog</a></li>
        <li><a href='/contact'>Kontakt</a></li> -->
      </ul>
    </nav>
   
</header>
<!-- <main></main> -->


<script type="text/javascript">
  $(".mobile_nav").click(function() {

  var mm = $(".mobile_menu"),
      mn = $(".mobile_nav"),
    a = "active";
  
  if (mm.hasClass(a) && mn.hasClass(a)) {
    mm.removeClass(a).fadeOut(200);
    mn.removeClass(a);
    $('.mobile_menu li').each(function(){
      $(this).removeClass('slide');
    });
  } else {
    mm.addClass(a).fadeIn(200);
    mn.addClass(a);
    $('.mobile_menu li').each(function(i){
    var t = $(this);
    setTimeout(function(){ t.addClass('slide'); }, (i+1) * 100);
  });
  }
  
});

</script>