<section class="recommend_wrap clearfix">
    <div class="intro clearfix">
        <figure class="img_box">
        <img src="https://i.pinimg.com/736x/1b/02/eb/1b02eb80803e4c8ae30ea29c2659f4a4.jpg" alt="미로 uv살균 가습기 이미지">
        </figure>
    
        <div class="inner">
            <p>특정 주제별 또는 스펙을 요약하여 작성</p>

            <ul class="clearfix">
              <li><span>#가격대</span>5 ~ 10만원대</li>
              <li><span>#상위</span>5%</li>
              <li><span>#평점</span>4.5 이상</li>
              <li><span>#리뷰</span>많음</li>
            </ul>

        </div> 
    </div> 

    <div class="description clearfix">
      <div class="spec">
        <h4>주요 스펙</h4>
        <span>가습량: 500cc</span>
        <span>용량: 4.8L</span>
        <span>소비전력: 20.5W</span>
        <span>연속가습: 48시간</span>
        <span>가습량 조절: 3단계</span>
        <span>무게: 3.4kg</span>
        <span>크기: 253 x 265 x 790mm</span>
      </div>
  
      <div class="features_section">
        <h4>특징</h4>
        <ul>
          <li>고급 UV-C 라이트를 통해 물을 살균하며, 아이들과 알레르기가 있는 가족 구성원에게 깨끗하고 건강한 공기를 제공합니다.</li>
          <li>초음파 기술을 활용한 이 가습기는 4.8L의 대용량 물통으로 최대 48시간 동안 연속 사용이 가능하며, 최대 분무량 500cc로 빠르고 효과적인 가습을 보장합니다.</li>
          <li>사용자의 편의에 따라 습도를 조절할 수 있으며, 습도 표시 기능을 통해 현재 환경의 습도를 쉽게 확인할 수 있습니다.</li>
          <li>스테인리스 물통과 분리가 가능한 구조로 통세척과 유지 관리가 편리합니다.</li>
          <li>자동 전원 차단 기능 및 버튼 잠금으로 어린이의 안전사고를 방지하고, 가정 내 안전한 사용을 보장합니다.</li>
          <li>저소음 설계로 밤에도 조용하게 작동하여, 수면 중에도 편안한 환경을 제공합니다.</li>
          <li>스마트폰 제어, 리모컨, 타이머, 무드등 등 다양한 편의 기능을 통해 사용자의 생활을 더욱 편리하게 만들어 줍니다.</li>
  
        </ul>
      </div>

      <div class="prosncons">

        <h4>단점</h4>
        <ul class="list_style_ul" role="list">
          <li data-icon="➖">일부 사용자에 따르면, 와이파이 연결이 불안정할 수 있음. 그래서 이렇게 해야함</li>
          <li data-icon="➖">초기 맵핑 과정에서 어려움을 겪을 수 있음.</li>
          <li data-icon="➖">일부 장애물에 대한 대응이 개선 필요함.</li>
          <li data-icon="➖">물걸레 기능의 물양 조절이 불가능할 수 있음.</li>
          <li data-icon="➖">청소 중 문턱 인식 문제가 발생할 수 있음.</li>
          <li data-icon="➖">일부 사용자는 소음 수준에 대한 불만을 나타냄.</li>
        </ul>

        <h4>장점</h4>
        <ul class="list_style_ul" role="list">
          <li data-icon="➕">사용자 인터페이스가 직관적이고 사용이 간편함.</li>
          <li data-icon="➕">다양한 장애물을 효과적으로 피하며 청소를 수행함.</li>
          <li data-icon="➕">먼지통 자동 청소 기능이 편리함.</li>
          <li data-icon="➕">초기 맵핑 이후 효율적으로 청소를 수행함.</li>
          <li data-icon="➕">조작법이 간단하고 저소음으로 작동함.</li>
          <li data-icon="➕">고객 서비스가 친절하고 응답이 빠름.</li>
          <li data-icon="➕">가격 대비 높은 가성비를 제공함.</li>
          <li data-icon="➕">어플리케이션 연동으로 원격 조정이 가능함.</li>
          <li data-icon="➕">맵핑 기능이 효과적임.</li>
          
        </ul>

       
      </div>
    </div>   
  
    <a href="https://link.coupang.com/a/bhUBxc" target="_blank" class="recommend_btn" aria-label="미로 uv살균 가습기 바로가기" rel="noreferrer noopener sponsored">지금 바로 확인하기</a>
    
  </section>