<section >
  <ul class="price_summary clearfix">
      <li><span>#가격대</span>20 ~ 25만원</li>
      <li><span>#상위</span>47%</li>
      <li><span>#경쟁력</span>5.3 / 10.0</li>
      <li><span>#평점</span>4.5 이상</li>
      <li><span>#상품평</span>많음</li>
      
  </ul>

  <div class="price_chart_wrap">
      <div class="chart-container clearfix">
          <div class="chart">
              <div class="section low">저렴한편</div>
              <div class="section medium">중간</div>
              <div class="section high">비싼편</div>
              <div class="product-a"></div>
          </div>
          <div class="chart-label min-price">37,090원(0%)</div>
          <div class="chart-label max-price">439,980원(100%)</div>
          <div class="chart-label product-name" style="left:47%">
              <div class="arrow"></div>
              <p>르젠 가습기</p>
          </div>
      </div>
  </div>
</section>


