<div class="chart-container">
    <div class="chart">
        <div class="section low">저렴한편</div>
        <div class="section medium">중간</div>
        <div class="section high">비싼편</div>
        <div class="product-a"></div>
    </div>
    <div class="chart-label min-price">₩17,620</div>
    <div class="chart-label max-price">₩785,900</div>
    <div class="chart-label product-name">
        <div class="arrow"></div>
        A상품
    </div>
</div>

