<!-- 스펙 템플릿 -->
<div class="wp_btn_box"><a target="_blank" class="retrobtn" href="제휴링크" itemprop="url" rel="noreferrer noopener sponsored" aria-label="상품명 구매하기">구매 하기</a></div>


<!-- 스펙 템플릿 -->
<div class="major_spec_wrap">
 <p class="major_spec">주요 스펙</p>
 <ul class="y_we_picked">
   <li>가격대_1~2만원대</li>
   <li>달걀용량_최대14개</li>
   <li>트레이_2단</li>
   <li>소비전력_350W</li>
   <li>크기_150x220x150mm</li>
   <li>찜기재질_스테인리스</li>
 </ul>
 <br />
 <p class="add_func">부가 기능 및 특징</p>
 <ul class="af_list">
  <li>#2단_대용량</li>
  <li>#10분쾌속가열</li>
  <li>#자동열차단</li>
  <li>#360도_순환가열</li>
  <li>#요리의_다양성</li>
 </ul>
</div>

<!-- 스티키 버튼 -->
<a target="_blank" class="sticky-button" href="https://link.coupang.com/a/bcu2go" rel="noreferrer noopener sponsored" aria-label="키친아트 라팔 계란 찜기 바로가기" itemprop="url">키친아트 라팔 바로가기</a>

