h1,h2,h3,h4,h5,h6,p,ul,li,address,form,fieldset,legend,input,button,dl,dt,dd,table,thead,tbody,tfoot,tr,th,td{margin:0;padding:0;font-family:inherit;}
a img{border:0;}
a{text-decoration:none;color:#000;}
ul,li{list-style:none;}
em,address{font-style:normal;}
fieldset{border:0;}
legend{display:none;}
button{border:0;background:none;cursor:pointer;}
table caption{display:none;}
input, textarea, select{border:1px solid #ccc;-moz-appearance:none;appearance:none;-webkit-appearance:none;outline:none;}
figure{margin:0;}
*{box-sizing:border-box;}

.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

body{margin:0;padding:0;font-size:15px;color:#000;line-height:1.5;font-weight:300;-webkit-scrollbar:none;font-family: 'Barlow', sans-serif;background-color:#f6f6f6;}
@media screen and (max-width:640px){
  body{font-size:13px;font-weight:400;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  body{font-size:13px;font-weight:400;}
}

.layout{min-width:1200px;width:100%;}
.wrap{width:1200px;margin:0 auto;}
@media screen and (max-width:640px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 3%;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 3%;}
}

/* title line numbers */
.text_line_two{word-break:break-word;line-height:1.4;height:2.8em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.text_line_three{word-break:break-word;line-height:1.4;height:2.8em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:3;}

.admin_pannel{display:inline-flex;}
.admin_pannel a{display:inline-block;}


/* Hashtage Location */
.where-hashtag{margin-bottom:10px;}
.where-hashtag h2{font-size:1.75rem;font-weight:700;color:#000;text-align:center;position:relative;}


/*Fom Style*/
.input_box{float:left;width:15%;margin:1% 0.5%;}
.input_box label{display:block;font-size:10px;}
.input_box input{padding:5px;width:100%;}

/* admin section */
.admin_section{}
.admin_section a{}
.admin_section form{display:inline-block;}

.header-middle{text-align:center; } /* layout admin 임시 */

/* Features ul li style custom */
.features_section ul{margin:0;padding:5px;list-style:none;display:grid;gap:1rem;}
.features_section ul li{display:grid;grid-template-columns:0 1fr;gap:1.75em;align-items:start;font-size:1rem;line-height:1.4;}
.features_section ul li::before{content:attr(data-icon);font-size:1rem}











