/******* main index theme css *******/

img{display:block;max-width:100%;}
ul li::before{content:attr(data-icon);font-size:1.25em}.wacky-wrapper{width:95%;max-width:1900px;margin-left:auto;margin-right:auto;}
.header{padding:3rem 1.5rem 4rem;display:flex;justify-content:space-between;align-items:center;}
.header-middle{display:none;}
.header-right{display:flex;align-items:center;}
.header-nav{display:none;}

.header-link{color:#000;text-decoration:none;margin-left:.75rem;margin-right:.75rem;font-weight:500;display:inline-block;}
.header-link--button{background-color:#000;color:#fff;padding:.5rem 1.25rem;}


.page-title{padding-left:1.5rem;padding-right:1.5rem;display:flex;justify-content:center;font-size:50px;}
.page-title h1{font-size:1.75rem;font-weight:700;color:#000;text-align:center;position:relative;}
.page-title h1:after{content:"";display:block;position:absolute;width:100%;bottom:-3px;height:2px;background-color:currentcolor;}
.magazine-layout{margin-top:2rem;display:grid;grid-template-columns:repeat(4,1fr);grid-row-gap:2rem;}
.magazine-column{padding:0 .5rem;grid-column:span 5;}

@media (min-width: 1200px) {
  .header-middle{display:block;}
  .header-nav{display:block;}
  .magazine-column{grid-column:span 1;border-right:1px solid #CCC;}
  .magazine-column:last-child{/*border-right: none;*/}
  .magazine-column:nth-child(2){grid-column:span 2;}
}

.magazine-column article .categories_card{border:3px solid;padding:10px 30px;float:left;width:31%;margin:0 1% 2.5% 1%;box-shadow:5px 5px 0 rgba(0, 0, 0, 0.2);}
.magazine-column article .categories_card a{display:block;font-size:20px;width:100%;}
.magazine-column article .categories_card span{font-size:20px;}

/*.article + .article{padding-top:1rem;margin-top:1rem;border-top:1px solid #ccc;}*/
.article{padding-top:1rem;margin-top:1rem;border-top:1px solid #ccc;}


/*.article-img + * {margin-top: 1rem;}*/
.middle_column h3{font-size:2rem;border-bottom:3px solid;margin-bottom:10px;}
.editor_recommend{float:left;width:48%;margin:1%;border:1px solid #ccc;height:290px;padding:0;background-color:#fff;border-radius:20px;}
.editor_recommend .img_card{height:170px;padding:7px;}
.editor_recommend .img_card img{width:100%;height:100%;object-fit:contain;}
.editor_recommend .inner{padding:15px 20px;text-align:center;}
.editor_recommend .inner p.index_title{font-size:20px;margin-bottom:10px;background-color:#f6f6f6;display:inline;}
.editor_recommend .inner .pricing{display:none;}
.editor_recommend .inner .index_pricing p{font-size:18px;display:inline-block;background-color:#f6f6f6;border:2px solid #d0d0d0;padding:5px 20px;border-radius:10px;margin-top:5px;}
.editor_recommend .inner .ratings{margin-bottom:5px;}
.editor_recommend .inner .ratings span{}
.editor_recommend .inner .ratings span i{font-size:20px;}
.editor_recommend .inner .ratings span em{vertical-align:top;margin-left:5px;}


.right_blog_section{}
.right_blog_section h3.blog_title{font-size:2rem;border-bottom:3px solid;margin-bottom:10px;}
.right_blog_section .blog_card .img_card{float:left;width:30%;margin:0 3% 0 0;}
.right_blog_section .blog_card .img_card img{width:100%;}
.right_blog_section .blog_card .inner{float:left;width:67%;margin:0;}
.right_blog_section .blog_card .inner a{font-size:1rem;}

.article-title{font-weight:900;line-height:1.25;color:#000;}
.article-title--large{font-size:1.7rem;}
.article-title--large + *{margin-top:1.5rem;}
/*.article-title--medium{font-size: 1.5rem;}*/
/*.article-title--medium + * {margin-top: 0.75rem;}*/
.article-title--small{font-size:1.25rem;}
.article-title--small+*{margin-top:.75rem;}
.article-link{color:inherit;}
.mark{background-color:#fabea1;}
.mark--secondary{background-color:#c2dddf;}
.mark--tertiary{background-color:#f8e177;}

.article-podcast-player{display:flex;align-items:center;margin-bottom:1rem;margin-top:1.25rem;}
.podcast-play-button{width:2.25rem;height:2.25rem;border-radius:12px;border:0;background-color:#000;margin-right:.5rem;}
.podcast-play-button svg{max-width:1rem;max-height:1rem;fill:#FFF;}
.podcast-progression{flex:1;height:8px;border-radius:99em;background-color:#d9d4cd;background-image:linear-gradient(to right,#f99970 30%,#d9d4cd 30%,#d9d4cd 100%);}
.podcast-time{font-weight:500;font-size:1.125rem;margin-left:.5rem}:focus{outline:0;}
/*.header-menu-button {
  margin-left: 0.75rem;
  border: 0;
  padding: 0;
  background-color: transparent;
  font: inherit;
  position: relative;
  padding-right: 30px;
  font-weight: 500;
}
.header-menu-button:after, .header-menu-button:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: currentcolor;
  right: 0;
  top: 8px;
}
.header-menu-button:after {
  top: 16px;
  width: 12px;
  right: 8px;
}*/



/*.article-excerpt{
  font-size: 1.125rem;
  line-height: 1.4;
}
.article-excerpt p + p{
  margin-top: 1.5rem;
}*/

/*.article-author {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.article-author-img {
  width: 3rem;
  height: 3rem;
  border-radius: 12px;
  background-color: #323232;
  overflow: hidden;
  background-blend-mode: multiply;
}
.article-author-img + .article-author-info {
  margin-left: 0.5rem;
}

.article-author-info {
  line-height: 1.375;
}
.article-author-info dl {
  margin-top: 0.25em;
}
.article-author-info dt {
  font-weight: 600;
}
.article-author-info dd {
  font-size: 0.875em;
}*/

/*.article-category {
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
}
.article-category svg {
  max-width: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}*/


@media screen and (max-width:640px){
  .editor_recommend{height:255px;}
  .editor_recommend .img_card{height:150px;}
  .editor_recommend .inner p.index_title{font-size:16px;}
  .left-arti{float:left;width:48%;margin:1%;}
  .page-title{font-size:25px;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .left-arti{float:left;width:48%;margin:1%;}
  
}












